<h1>Liste des voyages</h1>

<% @les_voyages.each do |un_voyage| %>
    <p><a href="/voyages/<%= un_voyage.id %>"><%= un_voyage.pays %> <%= un_voyage.date_depart %> <%= un_voyage.duree %></a></p>
<% end %>

<%= form_tag "/voyages", method: "post" do %>
    <label id="pays">Pays de destination: </label>
    <input type="text" name="pays">

    <label id="date_depart">Date de départ: </label>
    <input type="date" name="date_depart">

    <label id="duree">Durée du voyage: </label>
    <input type="text" name="duree">

    <input type="submit" value="Ajouter à la liste">
<% end %>
</form>

</br>
<a href="/clients_voyages">Ajouter des clients à un voyage</a>
<a href="/voitures">Liste des voitures</a>
<a href="/clients">Liste des clients</a>
<a href="/marques">Liste des marques</a>
