<% @les_voyages.each do |le_voyage| %>
    <% if le_voyage.id %>
        <h1>Voyage du <%= le_voyage.date_depart %>, destination : <%= le_voyage.pays %></h1>
    <% end %>
        
    <% if @le_client.id %>
        <p>participant(s): </p>
        <p><%= @le_client.nom %> <%= @le_client.prenom %></p>
    <% end %>
    
    </br>
    <%= form_tag "/clients_voyages/#{le_voyage.id}", method: "post" do %>
        <label id="client_id">Client: </label>
        <select name="client_ids">
            <% @les_clients.each do |client| %>
                <option value="<%= client.id %>"><%= client.nom %> <%= client.prenom %></option>
            <% end %>
        </select>

        <label id="voyage_id">Voyage: </label>
        <select name="voyage_ids">
            <% @les_voyages.each do |voyage| %>
                <option value="<%= voyage.id %>"><%= voyage.pays %> <%= voyage.date_depart %></option>
            <% end %>
        </select>

        <input type="submit" value="ajouter à la liste">
        <% end %>
    </form>

    </br>
    <%= form_tag "/clients_voyages/#{le_voyage.id}", method: "delete" do %>
        <label id="client_id">Client: </label>
        <select name="client_ids">
            <% @les_clients.each do |client| %>
                <option value="<%= client.id %>"><%= client.nom %> <%= client.prenom %></option>
            <% end %>
        </select>

        <label id="voyage_id">Voyage: </label>
        <select name="voyage_ids">
            <% @les_voyages.each do |voyage| %>
                <option value="<%= voyage.id %>"><%= voyage.pays %> <%= voyage.date_depart %></option>
            <% end %>
        </select>

        <input type="submit" value="Supprimer le client du voyage">
        <% end %>
    </form>

    </br>
    <a href="/clients_voyages">Revenir à l'ajout d'un client pour un voyage</a>
<% end %>